body {
    background-color:  green;
    color: white;
}
.heading {
    width: 80%;
    font-size: 22px;
}
#camera {
    border:2px dashed red ;
    height: 300px;
    width: 350px;
}
.name_of_objects,#result_object_name,#result_object_acurracy {
    color : yellow;
}